<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h3>Welcome to FarmStore</h3>
    <a href="/products">Products List</a>
    <a href="/farms">Farms List</a>
    <script src="/alert.js"></script>
  </body>
</html>
