<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>our farms</title>
  </head>
  <body>
    <%= messages %>
    <h1>farm list</h1>
    <div>
      <ul>
        <% f.map( (i)=>{ %>
        <li><a href="/farms/<%= i.id %>/show"><%= i.name %></a></li>

        <% } ) %>
      </ul>
      <a href="/farms/new">Add new farm</a>
      <a href="/">Home</a>
    </div>
  </body>
</html>
