<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>new</title>
  </head>
  <body>
    <h3>Add new farm</h3>
    <form action="/farms" method="post">
      <label for="name">Enter farm name:</label>
      <input type="text" name="name" id="name" placeholder="farmname" />
      <br />
      <label for="city">Enter city:</label>
      <input type="text" name="city" id="city" placeholder="city" />
      <br />
      <label for="email">Enter email:</label>
      <input type="email" name="email" id="email" placeholder="email" />
      <br />
      <button>submit</button>
    </form>
    <a href="/farms">Index</a>
  </body>
</html>
